In [1]:
import pandas as pd

In [2]:
import numpy as np
import matplotlib_inline as plt
from datetime import datetime

In [7]:
bike=pd.read_csv('bikes.csv')

In [9]:
bike.head()

         date  temperature   humidity  windspeed  count
0  2011-01-03     2.716070  45.715346  21.414957  120.0
1  2011-01-04     2.896673  54.267219  15.136882  108.0
2  2011-01-05     4.235654  45.697702  17.034578   82.0
3  2011-01-06     3.112643  50.237349  10.091568   88.0
4  2011-01-07     2.723918  49.144928  15.738204  148.0

In [10]:
date=lambda x:float(x[0])

In [11]:
bike.date=bike.date.apply(date)

In [13]:
bike.date.dtypes

dtype('float64')