In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib_inline as plt
%matplotlib inline
sns.set(rc={'figure.figsize': [7, 7]}, font_scale=1.2)

In [2]:
bike=pd.read_csv('bikes.csv')
bike.head()

         date  temperature   humidity  windspeed  count
0  2011-01-03     2.716070  45.715346  21.414957  120.0
1  2011-01-04     2.896673  54.267219  15.136882  108.0
2  2011-01-05     4.235654  45.697702  17.034578   82.0
3  2011-01-06     3.112643  50.237349  10.091568   88.0
4  2011-01-07     2.723918  49.144928  15.738204  148.0

In [3]:
bike.describe()

       temperature    humidity   windspeed        count
count   729.000000  729.000000  729.000000   729.000000
mean     17.762024   56.514591   17.241418   622.818930
std       8.921313    7.348730    5.222353   383.958772
min      -2.200000   21.300000    5.300000     2.000000
25%      10.066578   51.561669   13.462096   256.333333
50%      18.087694   56.546144   16.656522   639.000000
75%      25.455587   61.423987   20.320807   891.666667
max      35.100000   75.600000   35.200000  1820.000000

In [4]:
bike.info

<bound method DataFrame.info of            date  temperature   humidity  windspeed       count
0    2011-01-03     2.716070  45.715346  21.414957  120.000000
1    2011-01-04     2.896673  54.267219  15.136882  108.000000
2    2011-01-05     4.235654  45.697702  17.034578   82.000000
3    2011-01-06     3.112643  50.237349  10.091568   88.000000
4    2011-01-07     2.723918  49.144928  15.738204  148.000000
..          ...          ...        ...        ...         ...
724  2012-12-27     5.587201  57.755931  28.678187  247.000000
725  2012-12-28     5.545775  54.242931  14.792709  644.000000
726  2012-12-29     4.924888  54.010283  14.777848  575.666667
727  2012-12-30     4.304001  53.777635  14.762987  507.333333
728  2012-12-31     3.683114  53.544987  14.748127  439.000000

[729 rows x 5 columns]>

In [5]:
bike.shape

(729, 5)

In [6]:
bike.nunique()

date           729
temperature    613
humidity       659
windspeed      689
count          626
dtype: int64

In [7]:
bike.isnull().sum()

date           0
temperature    0
humidity       0
windspeed      0
count          0
dtype: int64

In [8]:
# from datetime import datetime

In [9]:
date=lambda x:float(x[0])

In [10]:
bike.date=bike.date.apply(date)

In [11]:
bike.date.dtypes

dtype('float64')

In [12]:
bike.head()

   date  temperature   humidity  windspeed  count
0   2.0     2.716070  45.715346  21.414957  120.0
1   2.0     2.896673  54.267219  15.136882  108.0
2   2.0     4.235654  45.697702  17.034578   82.0
3   2.0     3.112643  50.237349  10.091568   88.0
4   2.0     2.723918  49.144928  15.738204  148.0

In [32]:
bike.tail(20)

     date  temperature   humidity  windspeed       count
709   2.0     7.739593  51.358079  15.325268  310.000000
710   2.0     7.656791  48.426717  16.123607  425.000000
711   2.0     6.953152  57.197576  13.063497  429.000000
712   2.0     8.802005  62.114188  12.279551  356.666667
713   2.0    10.650858  67.030799  11.495604  284.333333
714   2.0    12.499710  71.947411  10.711657  212.000000
715   2.0    13.368952  58.500386  19.495790  433.000000
716   2.0     9.478076  56.220456  16.834280  333.000000
717   2.0     9.353899  58.593463  13.151520  314.000000
718   2.0     9.188346  52.381767  30.407969  221.000000
719   2.0     7.609421  56.748790  23.342550  205.333333
720   2.0     6.030497  61.115812  16.277130  189.666667
721   2.0     4.451573  65.482835   9.211711  174.000000
722   2.0     4.750319  66.377012  17.747048   91.500000
723   2.0     5.049065  67.271190  26.282385    9.000000
724   2.0     5.587201  57.755931  28.678187  247.000000
725   2.0     5.545775  54.242931  14.792709  644.000000
726   2.0     4.924888  54.010283  14.777848  575.666667
727   2.0     4.304001  53.777635  14.762987  507.333333
728   2.0     3.683114  53.544987  14.748127  439.000000

In [14]:
bike['date']

0      2.0
1      2.0
2      2.0
3      2.0
4      2.0
      ...
724    2.0
725    2.0
726    2.0
727    2.0
728    2.0
Name: date, Length: 729, dtype: float64

In [15]:
X=bike.iloc[ :,:-1].values
y=bike.iloc[:,-1].values

In [16]:
X.shape

(729, 4)

In [17]:
y.shape

(729,)

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [20]:
print(X_train.shape,'\n',X_test.shape,'\n',y_train.shape,'\n',y_test.shape)

(510, 4)
 (219, 4)
 (510,)
 (219,)

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
regessor=LinearRegression()
regessor.fit(X_train,y_train)

LinearRegression()

In [23]:
y_predict=regessor.predict(X_test)
pred = pd.DataFrame({ 'predict_count': [k for k in y_predict]})
pred.T

,0,1,2,3,4,5,6,7,8,9,...,209,210,211,212,213,214,215,216,217,218
predict_count,823.507689,1120.93506,475.092637,315.691249,756.094407,768.803993,305.022173,327.909315,687.135443,293.076954,...,1179.44656,367.969972,319.295874,1050.942113,215.420391,390.790078,646.709388,1141.05504,672.660923,552.025972

In [24]:
compare_count = pd.DataFrame({'Actual count': y_test, 'predict_count': y_predict})
compare_count.T

,0,1,2,3,4,5,6,7,8,9,...,209,210,211,212,213,214,215,216,217,218
Actual count,1120.500000,673.00000,410.000000,148.000000,533.000000,684.000000,321.000000,300.000000,773.000000,182.333333,...,709.333333,240.000000,329.000000,732.000000,130.000000,182.000000,653.000000,1370.00000,909.000000,493.750000
predict_count,823.507689,1120.93506,475.092637,315.691249,756.094407,768.803993,305.022173,327.909315,687.135443,293.076954,...,1179.446560,367.969972,319.295874,1050.942113,215.420391,390.790078,646.709388,1141.05504,672.660923,552.025972

In [25]:
print (f'Train accuracy :: {regessor.score(X_train,y_train)*100} %')
print (f'Test  accuracy :: {regessor.score(X_test,y_test)*100} %')

Train accuracy :: 59.107989410665816 %
Test  accuracy :: 65.49627908127582 %

In [26]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,y_predict)
print(f'MSE =  {mse:0.2f}')
print('='*20)
Rmse=np.sqrt(mse)
print(f'RMSE =  {Rmse :0.2f}')

MSE =  48255.87
====================
RMSE =  219.67

In [27]:
print(regessor.coef_)

[  0.          32.02606575 -12.89459352  -9.67596989]

In [28]:
print(regessor.intercept_)

959.1824708038167